body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana del navegador */
    margin: 0;
    padding: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* para mantener las proporciones */
}

p {
    position: absolute;
    z-index: 1; /* para asegurarse de que se muestren por encima del video */
}

p {
    bottom: 50px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* fondo semi-transparente */
    padding: 10px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 12px; /* bordes redondeados */
    background-color: #00aaff; /* azul claro */
    color: #ffffff; /* texto en blanco */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0088cc; /* un tono de azul un poco m치s oscuro al pasar el cursor */
}

/* Ajustes para pantallas peque침as */
@media (max-height: 600px) {
    button {
        margin-bottom: calc(env(safe-area-inset-bottom, 5px) + 5px); /* A침adir un margen inferior para evitar la superposici칩n con la barra de direcciones */
    }
}




