body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana del navegador */
    margin: 0;
    padding: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* para mantener las proporciones */
}

p, button {
    position: absolute;
    z-index: 1; /* para asegurarse de que se muestren por encima del video */
}

p {
    bottom: 14vh;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* fondo semi-transparente */
    padding: 10px;
    border-radius: 5px;
}

/* ... tus otros estilos ... */

button {
    bottom: 10vh; /* Ajusta este valor para probar */
    left: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #00aaff;
    color: #ffffff;
    z-index: 2; /* Aumentar para asegurarse de que se superpone a otros elementos */
    transition: background-color 0.3s ease;
}

@media (max-height: 600px) {
    button {
        bottom: calc(10vh + env(safe-area-inset-bottom)); /* Ajusta este valor para probar */
    }
}

